<%= form_for(@truck) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% @truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="field">  
    <%= f.label :titular_id %><br>
    <%= f.collection_select :titular_id, Titular.all, :id, :NombreCompleto, include_blank: true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
