<%= form_for(@titular) do |f| %>
  <% if @titular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@titular.errors.count, "error") %> prohibited this titular from being saved:</h2>

      <ul>
      <% @titular.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="input-field col s12 m12 l10 offset-l1">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
</div>
  <div class="row">
  <div class="input-field col s12 m12 l10 offset-l1">
    <%= f.label :paterno %>
    <%= f.text_field :paterno %>
  </div>
</div>
  <div class="row">
  <div class="input-field col s12 m12 l10 offset-l1">
    <%= f.label :materno %>
    <%= f.text_field :materno %>
  </div>
</div>
  <div class="row">
  <div class="center">
    <%= f.submit @btn, class: 'btn blue' %>
  </div></div>
<% end %>
