<p id="notice"><%= notice %></p>

<h1>Listing Titulars</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Paterno</th>
      <th>Materno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titulars.each do |titular| %>
      <tr>
        <td><%= titular.nombre %></td>
        <td><%= titular.paterno %></td>
        <td><%= titular.materno %></td>
        <td><%= link_to 'Show', titular %></td>
        <td><%= link_to 'Edit', edit_titular_path(titular) %></td>
        <td><%= link_to 'Destroy', titular, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Titular', new_titular_path %>
