<!DOCTYPE html>
<html>
<head>
  <title>Piedrera</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="grey lighten-5" >
  <div class="navbar-fixed light-blue darken-3">
    <nav class="light-blue darken-3">
      <div class="nav-wrapper ">
        
        <%= link_to "Inicio", root_path, class: 'brand-logo' %>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Reportes", report_index_path  %></li>
          <li><%= link_to "Liquidaciones", liquidations_path  %></li>
          <li><%= link_to "Choferes", drivers_path  %></li>
          <li><%= link_to "Titulares", titulars_path  %></li>
          <li><%= link_to "Camiones", trucks_path  %></li>
          <li><%= link_to "Rutas", ruta_path  %></li>
        </ul>
      </div>
    </nav>
  </div>
  <%if notice%>
  <p class="notice">    <%=notice%>  </p>
  <%elsif alert%>
  <p class="alert">    <%=alert%>  </p>
  <%end%>
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12 card padding-largo">
				<%= yield %>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
   $('.datepicker').pickadate({
    format: "yyyy-mm-dd"
   });
  </script>
</body>
</html>
